html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-top: 36px;
}

h1 {
    font-size: 3.5rem;
}

.inner {
    max-width: $width;
    margin: 0 auto;
    padding: 60px 0;
}

.video-bg {
    width: 100%;
    height: 100%;

    text-align: center;
    user-select: none;

    overflow: hidden;

    div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    video {
        min-width: 100%;
        min-height: 100%;

        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 12vh;
        font-weight: 700;
        color: white;
        -webkit-text-stroke: 4px black;

        span.red {
            color: $red;
            -webkit-text-stroke: none;
        }

        margin: 50vh 0;

        @media screen and (max-width: $phone) {
            font-size: 32pt;
            -webkit-text-stroke: 2px black;
        }
    }
}

.statue {
    width: 100%;
    min-height: 100%;
    background-image: url("/images/statue.jpg");
    //background-position: center;
    background-size: 100% auto;
    background-repeat: repeat;

    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    font-size: 2rem;
    font-weight: 500;

    @media screen and (min-width: $pc) {
        background-size: 50% auto;
    }

    color: white;
}

.blackwhite {
    width: 100%;
    min-height: 100%;
    background-image: url("/images/blackwhite.jpg");
    //background-position: center;
    background-size: 100% auto;
    background-repeat: repeat;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";

    div {
        text-align: center;
    }

    li {
        list-style-type: none;
        line-height: 1.5;
    }

    font-size: 1.5em;

    .left {
        grid-area: left;
        color: white;
        a {
            color: white;
            &:visited { color: white; }
        }
    }
    .right {
        grid-area: right;
        color: black;
        a {
            color: black;
            &:visited { color: black; }
        }
    }
}